<%include file="header.html"/>

	<div class="container-fluid">
		<div class="row fh5co-post-entry">

      % for video in video_list:
      <!-- hello world [s] -->
			<article class="col-lg-3 col-md-3 col-sm-3 col-xs-6 col-xxs-12 animate-box">
				<figure>
					<a href="single.html"><img src="/static/app/img/sumnail_sample.png" alt="Image" class="img-responsive"></a>
				</figure>
				<h2 style="font-size: 100%; font-family: 'Nanum Gothic', sans-serif;" class="fh5co-article-title"><a href="single.html">${video[0]}</a></h2>
				<span class="fh5co-meta fh5co-date">${video[3]}</span>
			</article>
      <!-- hello world [e] -->
      % endfor

			<div class="clearfix visible-xs-block"></div>
		</div>
	</div>

<%include file="footer.html"/>
