<%include file="header.html"/>
<style>
.main_content{
  border:1px black solid;
  padding: 50px;
}
.video_content_real{
    margin-left: auto;
    margin-right: auto;
    display: block;
}
</style>

	<div class="container-fluid">
		<div class="row fh5co-post-entry">

      <div class="main_content">

      <div class="video_content">
          <video class="video_content_real" width="640" height="360" controls>
              <source src="movie.mp4" type="video/mp4">
          </video>
      <div>

        hello world<br>
        hello world<br>
        hello world<br>
        hello world<br>
        hello world<br>
        hello world<br>
        hello world<br>
        hello world<br>
        hello world<br>
        hello world<br>
        hello world<br>
        hello world<br>
        hello world<br>
        hello world<br>
      </div>

		<div class="clearfix visible-xs-block"></div>
		</div>
	</div>

<%include file="footer.html"/>
